
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container " style="background-color:whitesmoke;border-radius:15px;">
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <span class="glyphicon glyphicon-remove-circle" style="color:#C71D3A;font-size:50px"></span>
        </div>
        <div class="col-md-12" style="text-align:center">
            <span style="color:#C71D3A;font-size:20px">something went wrong. please try to check out again!</span>
        </div>
    </div>
</div>

