
@{   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container " style="background-color:whitesmoke;border-radius:15px;">
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <span class="glyphicon glyphicon-ok-circle" style="color:#00C997;font-size:50px"></span>
        </div>
        <div class="col-md-12" style="text-align:center">
            <span style="color:#00C997;font-size:20px">Successfully sent.</span>
        </div>
    </div>
</div>



