    #contact {
        border-radius: 50px;
        /*padding: 80px 0;*/
        background: #ffffff;
       
    }

        #contact h3 {
            color: #ff0000;
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
        }

        #contact form {
            padding: 30px 0;
        }

        #contact .fa {
            color: #ff0000;
            margin-bottom: 10px;
        }

        #contact .text-danger {
            color: #ff3333;
            text-align: left;
        }

        #contact .form-control {
            display: block;
            width: 100%;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 2px;
            -webkit-box-shadow: none;
            box-shadow: none;
            -webkit-transition: none;
            -o-transition: none;
            transition: none;
        }

            #contact .form-control:focus {
                border-color: inherit;
                outline: 0;
                -webkit-box-shadow: transparent;
                box-shadow: transparent;
            }

        #contact .btn {
            background-color: #aaa;
            border: 0;
            border-radius: 4px;
            padding: 10px 20px;
            color: #ffffff;
            margin-top: 15px;
        }

            #contact .btn:hover, #contact .btn:focus {
                background: #ff0000;
            }

    .section-title.center hr {
        height: 4px;
        width: 70px;
        text-align: center;
        position: relative;
        background: #ff0000;
        margin: 0 auto;
        margin-bottom: 30px;
        border: 0;
    }