
body {
    background: url('../Images/original_birthday-present_censored.jpg')no-repeat center center fixed;
    /*background: url('images/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg')no-repeat center center fixed;*/
    /*-moz-background-size: cover;*/
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*overflow: hidden;*/
}
#login{
   
   border-radius:15px;
   background-color: rgba(0,0,0,0.7);
   width: 40%;
   height:60%;
   margin-top: 10%;
}
p.form-title-login {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color: #FFFFFF;
    margin-top: 3%;
    margin-bottom: 10%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

    form.login input[type="text"], form.login input[type="password"] {
        width: 80%;       
        padding:1%;
        background: 0;
        border: 0;
        border-bottom: 1px solid #FFFFFF;
        outline: 0;
        font-style: italic;
        font-size: 20px;     
        letter-spacing: 1px;
        margin-bottom: 50px;
        color: #FFFFFF;
        outline: 0;
        text-align:center;
        margin-top: 10%;
        margin-left: 5%;
    }

    form.login input[type="submit"] {
        width: 50%;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        margin-top: 16px;
        margin-bottom:10px;
        outline: 0;
        cursor: pointer;
        letter-spacing: 1px;
        
    }

        form.login input[type="submit"]:hover {
            transition: background-color 0.5s ease;
        }
                input.ng-dirty.ng-invalid {
            border: 1px solid red;
            background-color: rgb(255, 244, 244);
        }


    #error span{
        color: red;
        
    }

    #error{
        margin-top:-40px;
    }