/*credit card*/
.jumbotron {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-width: 240px;
    max-width: 500px;
    height: 280px;
    width: 100%;
    overflow: hidden;
    /*position: relative;*/
    display: table;
    vertical-align: middle;
    left: 0px;
}


/* board drow image*/

